html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 100%;
}

.flex-container {
    display: flex;
    position: absolute;
    width: 100%;
    top: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#greetings {
    font-size: 55px;
    color: #0F9D58;
}

#introduction {
    font-weight: lighter;
}

#name_inline {
    color: #F4B400;
    font-weight: bold;
}

#portfolioImages {
    height: 30em;
}
