html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 100vh;
   -ms-user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   width: 100%;
   background-color: #282828;
}

.BTT {
    position: fixed;
    z-index: 1;
    right: 3%;
    bottom: 2%;
}

#upArrow {
    border: solid;
    border-width: 0 10px 10px 0;
    padding: 10px;
    transform: rotate(225deg);
    color: #ffa500;
    transition: all 0.3s ease-out;
}

#upArrow:hover {
    border: solid;
    border-width: 10px;
    padding: 10px;
    border-radius: 50%;
}

#topNav {
    position: absolute;
    display: flex;
    top: 30px;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: flex-end;
    right: 40px;
}

.navA {
    position: absolute;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transition: all 0.3s ease-out;
}

#about_a {
    right: 0px;
}

#about_a:hover{
    font-size: larger;
    right:-2px;
    color: #ffa500;
}

#projects_a {
    right: 6.5em;
}

#projects_a:hover{
    font-size: larger;
    right: 5.8em;
    color: #ffa500;
}

#home_a {
    right: 15em;
}

#home_a:hover{
    font-size: larger;
    right: 13.9em;
    color: #ffa500;
}

header {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    background-color: #282828;
}

#header_content {
    position: relative;
    top: 10em;
    left: 40px;
}

#greetings {
    font-size: 6em;
    color:  #ffa500;
}

#introduction {
    position: relative;
    display: flex;
}

#introduction1 {
    font-size: 35px;
    font-weight: lighter;
    color:  white;
}

#vscodeStyle {
    border-left: 2px solid white;
}

#introduction2 {
    font-size: 35px;
    font-weight: lighter;
    color:  white;
}

#carousel {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 100vh;
    background-color: #282828;
}


#carousel_content {
    top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
    height: 100vh;
}

.carousel_slides {
    position: relative;
    width: 100%;
}

.arrow_right {
    border: solid #ffa500;
    border-width: 0 10px 10px 0;
    padding: 20px;
    display: inline;
    position: absolute;
    right: 8em;
    transform: rotate(-45deg);
    top: 38%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.arrow_left {
    border: solid #ffa500;
    border-width: 0 10px 10px 0;
    padding: 20px;
    display: inline;
    position: absolute;
    left: 8em;
    transform: rotate(135deg);
    top: 38%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.arrow_left:hover {
    border-width: 0 11px 11px 0;
    border-width: 10px;
    border-radius: 50%;
}

.arrow_right:hover {
    border-width: 0 11px 11px 0;
    border-width: 10px;
    border-radius: 50%;
}

#portfolioImages {
    position: relative;
    border-radius: 25px;
    height: 28%;
    width: 60%;
}

.pacman {
    position: relative;
    display: flex;
}

.pac {
    top: 20px;
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: yellow;
    animation: pacman 2s infinite;
    float: left;
}

@keyframes pacman {
    0% {
        background-image: conic-gradient(yellow 0deg, yellow 40deg, black 40deg, black 140deg, yellow 140deg, yellow 180deg);
        left: 4em;
    }

    10% {
        background-image: conic-gradient(yellow 0deg, yellow 40deg, black 40deg, black 140deg, yellow 140deg, yellow 180deg);
        left: 6em;
    }

    20% {
        background-image: conic-gradient(yellow 0deg, yellow 65deg, black 65deg, black 115deg, yellow 115deg, yellow 180deg);
        left: 8em;
    }

    30% {
        background-image: conic-gradient(yellow 0deg, yellow 90deg, black 90deg, black 90deg, yellow 90deg, yellow 180deg);
        left: 10em;
    }

    40% {
        background-image: conic-gradient(yellow 0deg, yellow 65deg, black 65deg, black 115deg, yellow 115deg, yellow 180deg);
        left: 12em;
    }

    50% {
        background-image: conic-gradient(yellow 0deg, yellow 40deg, black 40deg, black 140deg, yellow 140deg, yellow 180deg);
        left: 14em;
    }

    60% {
        background-image: conic-gradient(yellow 0deg, yellow 40deg, black 40deg, black 140deg, yellow 140deg, yellow 180deg);
        left: 16em;
    }

    70% {
        background-image: conic-gradient(yellow 0deg, yellow 65deg, black 65deg, black 115deg, yellow 115deg, yellow 180deg);
        left: 18em
    }

    80% {
        background-image: conic-gradient(yellow 0deg, yellow 90deg, black 90deg, black 90deg, yellow 90deg, yellow 180deg);
        left: 20em;
    }

    90% {
        background-image: conic-gradient(yellow 0deg, yellow 65deg, black 65deg, black 115deg, yellow 115deg, yellow 180deg);
        left: 22em;
    }

    100% {
        background-image: conic-gradient(yellow 0deg, yellow 40deg, black 40deg, black 140deg, yellow 140deg, yellow 180deg);
        left: 24em;
    }
}

.mints0 {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    top: 5.5em;
    left: 15em;
    animation: mint1Animation 2s infinite;
}

@keyframes mint1Animation {
    0% {
        background-color: yellow;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: black;
        z-index: -1;
    }

    75% {
        background-color: black;
        z-index: -1;
    }

    100% {
        background-color: black;
        z-index: -1;
    }
}

.mints1 {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    top: 5.5em;
    left: 20em;
    animation: mint2Animation 2s infinite;
}

@keyframes mint2Animation {
    0% {
        background-color: yellow;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: black;
        z-index: -1;
    }

    100% {
        background-color: black;
        z-index: -1;
    }
}

.mints2 {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    top: 5.5em;
    left: 25em;
    animation: mint3Animation 2s infinite;
}

@keyframes mint3Animation {
    0% {
        background-color: yellow;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: yellow;
    }

    100% {
        background-color: black;
        z-index: -1;
    }
}


.mints3 {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    top: 5.5em;
    left: 30em;
    animation: mint4Animation 2s infinite;
}

@keyframes mint4Animation {
    0% {
        background-color: yellow;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: yellow;
    }

    100% {
        background-color: black;
        z-index: -1;
    }
}