html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 100vh;
   -ms-user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   width: 100%;
   background-color: #282828;
}

.BTT {
    position: fixed;
    z-index: 1;
    right: 3%;
    bottom: 2%;
}

#upArrow {
    border: solid;
    border-width: 0 10px 10px 0;
    padding: 10px;
    transform: rotate(225deg);
    color: #ffa500;
}

#upArrow:hover {
    border: solid;
    border-width: 10px;
    padding: 10px;
    border-radius: 50%;
}

#topNav {
    position: absolute;
    display: flex;
    top: 30px;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: flex-end;
    right: 40px;
}

.navA {
    position: absolute;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1efffe;
}

#about_a {
    right: 0px;
}

#about_a:hover{
    font-size: larger;
    right:-2px;
    color: #ffa500;
}

#projects_a {
    right: 6.5em;
}

#projects_a:hover{
    font-size: larger;
    right: 5.8em;
    color: #ffa500;
}

#home_a {
    right: 15em;
}

#home_a:hover{
    font-size: larger;
    right: 13.9em;
    color: #ffa500;
}

header {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    background-color: #282828;
}

#header_content {
    position: relative;
    top: 10em;
    left: 40px;
}

#greetings {
    font-size: 6em;
    color:  #ffa500;
}

#introduction {
    font-size: 35px;
    font-weight: lighter;
    color:  #1efffe;
}

#carousel {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 100vh;
    background-color: #282828;
}


#carousel_content {
    top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #1efffe;
    height: 100vh;
}

.carousel_slides {
    position: relative;
    width: 100%;
}

.arrow_right {
    border: solid #ffa500;
    border-width: 0 10px 10px 0;
    padding: 20px;
    display: inline;
    position: absolute;
    right: 8em;
    transform: rotate(-45deg);
}

.arrow_left {
    border: solid #ffa500;
    border-width: 0 10px 10px 0;
    padding: 20px;
    display: inline;
    position: absolute;
    left: 8em;
    transform: rotate(135deg);
}

.arrow_left:hover {
    border-width: 0 11px 11px 0;
    border-width: 10px;
    border-radius: 50%;
}

.arrow_right:hover {
    border-width: 0 11px 11px 0;
    border-width: 10px;
    border-radius: 50%;
}

#portfolioImages {
    position: relative;
    border-radius: 25px;
    height: 28%;
    width: 60%;
}